:root{
    --black: #670370;
    --greenyellow:  #74ca11;
}
body {
background-color: var(--black);
color: var(--greenyellow)

img{
    width:80%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}