:root{
    --white: #3a383800;
    --black:  #ebdcdc;
    --salmão: #F39B9B;
    --CINZA: #D9D9D9;s
}
body {
background-color: var(--black);
color: var(--black);
}
img{
    width:20%;
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}  
.img-intro{
    width: 20%;

}

.intro{
    display: flex;
}
.intro{
    display: flex;
    background-color: var(--salmão);
    margin: 20px;
    padding: 20px;
   
}

#Equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.foto-equipe{
 width: 25%;
}
 
.Pessoa{
 border: 3px solid #74ca11;
margin: 12px;
background-color: rgb(255, 255, 255);
}
footer{
background-color: white;
color: black;
}
    header a{
        color: black;
        text-decoration: none;
    }

    .cor{
        color: aquamarine;
    }

    /
